@import "bootstrap/bootstrap.less";
/* -*- coding: utf-8 -*-
 * vim:ff=unix:nowrap:tabstop=2:shiftwidth=2:softtabstop=2:smarttab:shiftround:expandtab
 */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: John Weaver
   ========================================================================== */

#container {
  margin-top: 15px;
}

footer {
  margin-top: 1em;
  border-top: 1px solid @grayLighter;
  padding-top: 1em;
}

fieldset.accordian-group {
  legend.accordian-heading a:after {
    content: " ";
    margin: 6px 8px;
    display: inline-block;
    width: 14px;
    height: 14px;
    .ie7-restore-right-whitespace();
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("@{iconSpritePath}");
    background-repeat: no-repeat;
    background-position: -313px -119px;
  }

  .accordian-body {
    padding-top: 8px;
  }
}

.add-on.checkbox {
  margin-right: -4px;

  input {
    margin-left: 0;
  }
}

ol.organisms {
  padding: 0px;
  margin: 0px 0px 5px 0px;
}

ol.generations {
  list-style: none;
  text-align: right;

  ol.organisms, ul.pager {
    display: inline-block;
    vertical-align: middle;
  }
}

li.organism.simple {
  display: inline-block;
  width: 40px;
  height: 20px;
  padding: 4px;
  margin: 4px;
  border: 1px solid black;
}

.actions label {
  float: none;
}

input[type="number"] {
  text-align: right;
}

.form-actions input.steps {
  margin-bottom: 0;
}

form .optional {
  display: none;
}

/* ===== Chart Styles ========================================================
   Author: John Weaver
   ========================================================================== */
.chart path {
  stroke: #c00;
  stroke-width: 3px;
  fill: none;
}

.chart .axis  path,
.chart .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.chart .axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.chart.matrix .background {
  fill: @grayLighter;
}

.chart.matrix line {
  stroke: @white;
}

.chart.matrix text {
}

.chart.matrix text.active {
  fill: @red;
}

.histogram.chart rect {
  fill: @blue;
  stroke: @white;
}
