<% content_for :head do %>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <meta name="description" content="Genetic Algorithm Demo in Javascript">
  <title>jsGA :: GA Demo in Javascript</title>

  <%= javascript_include_tag(['lib/underscore',
                             'lib/json2',
                             'lib/backbone',
                             'lib/backbone.localStorage',
                             'lib/bootstrap-modal',
                             'lib/bootstrap-alert',
                             'lib/bootstrap-collapse'], :defer => 'defer') %>

  <%= javascript_include_tag(['ChromosomeVisualization',
                             'Population',
                             'Organism',
                             'FitnessProportionateSelector',
                             'TournamentSelector',
                             'AppRouter',
                             'PopulationView',
                             'PopulationSettings',
                             'CreatePopulationView',
                             'OrganismView', 
                             'OrganismSimpleView',
                             'PopulationSettingsView',
                             'HelpView',
                             'Init'], :defer => 'defer') %>
<% end %>

<h1>Loading Application</h1>
<div class="progress progress-striped active">
  <div class="bar" style="width: 40%;"></div>
</div>
