<!-- -*- coding: utf-8 -*-
  vim:ff=unix:nowrap:tabstop=2:shiftwidth=2:softtabstop=2:smarttab:shiftround:expandtab
   -->
<script type="text/template" id="population-view-template">
  <h1>Current Generation</h1>
  <ol class="organisms"></ol>
  <div class="alert-message block-message info">
    Click an organism icon above to view its details.
  </div>
  <form>
    <div class="actions">
      <input type="button" class="step btn primary" value="Step">
      <input type="button" class="run btn" value="Run for ...">
      <label><input type="number" class="steps span2" placeholder="10" value="10"><span>steps</span></label>
      <input type="button" class="stop btn danger" value="Stop">
    </div>
  </form>
</script>

<script type="text/template" id="population-create-template">
  <h1>Create New Population</h1>
  <form>
    <div class="clearfix">
      <label for="population-size">Starting Population</label>
      <div class="input">
        <input type="number" id="population-size" name="population-size" class="size span2" placeholder="20" value="20" min="2" max="250" step="1.0">
        <span class="help-block">How many organisms should be seeded into the first generation?</span>
      </div>
    </div>

    <div class="clearfix">
      <label for="fitness-function">Fitness Function</label>
      <div class="input">
        <textarea id="fitness-function" name="fitness-function" rows="8" class="xxlarge"></textarea>
        <span class="help-block">This should be a Javascript code block that returns the calculated fitness for a given organism.</span>
      </div>
    </div>

    <fieldset>
      <legend>Chromosome</legend>

      <div class="clearfix">
        <label for="chromosome-length">Length</label>
        <div class="input">
          <input type="number" id="chromosome-length" name="chromosome-length" class="span2" placeholder="10" value="10" min="1" max="1000" step="1">
          <span class="help-block">How many bases should each organism's chromosome have?</span>
        </div>
      </div>

      <div class="clearfix">
        <label id="chromosome-bases">Bases</label>
        <div class="input">
          <ul class="inputs-list">
            <li>
              <label>
                <input type="radio" name="chromosome-bases" value="binary" checked="checked">
                <span>Binary - the chromosome will be a bitstring</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Selection</legend>
      <div class="clearfix">
        <label for="selection-mechanism">Mechanism</label>
        <div class="input">
          <select name="selection-mechanism" id="selection-mechanism" class="span3">
            <option value="fp">Fitness Proportionate</option>
            <option value="tournament">Tournament</value>
          </select>
          <span class="help-block">What mechanism should be used to select organisms to reproduce?</span>
        </div>
      </div>
      <div class="clearfix optional">
        <label for="tournament-size">Tournament Size</label>
        <div class="input">
          <input type="number" name="tournament-size" id="tournament-size" min="1" step="1" placeholder="10" value="10">
          <span class="help-block">What number of organisms should be randomly chosen for each tournament?</span>
        </div>
      </div>
      <div class="clearfix">
        <label for="selection-elitism">Elitism</label>
        <div class="input">
          <div class="input-prepend">
            <label class="add-on">
              <input type="checkbox" id="selection-elitism-enabled" name="selection-elitism-enabled">
            </label>
            <input type="number" class="mini" name="selection-elitism" id="selection-elitism" min="0" max="100" step="0.1" placeholder="10.0" value="10.0" disabled>%
          </div>
          <span class="help-block">What percentage of the most fit organisms in each generation should be directly cloned into the next generation?</span>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Crossover</legend>
      <div class="clearfix">
        <label for="crossover-probability">Probability</label>
        <div class="input">
          <input type="number" name="crossover-probabilty" id="crossover-probabilty" min="0" max="100" step="0.1" placeholder="70.0" value="70.0">%
          <span class="help-block">For each pair of organisms selected to reproduce, what is the probability that a crossover will occur?</span>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Mutation</legend>
      <div class="clearfix">
        <label for="mutation-probability">Probability</label>
        <div class="input">
          <input type="number" name="mutation-probability" id="mutation-probability" min="0" max="100" step="0.01" placeholder="0.1" value="0.1">%
          <span class="help-block">For each base in a new organism's chromosome, what is the probability that a mutation to a different base will occur?</span>
        </div>
      </div>
    </fieldset>
    <div class="actions">
      <input type="button" class="create btn primary" value="Create">
    </div>

    <div class="clearfix">
      <label for="load-settings">Load Saved Settings...</label>
      <div class="input">
        <select id="load-settings">
          <option value=""></option>
          <% existingSettings.each(function (model) { %>
          <option value="<%= model.id %>"><%= model.get('name') %></option>
          <% }) %>
        </select>
      </div>
    </div>
    <div class="actions">
      <input type="button" class="btn small load" value="Load">
    </div>
  </form>
</script>

<script type="text/template" id="organism-template">
  <h2>Organism <%= model.cid %></h2>
  <div class="vis"></div>
  Fitness: <%= model.fitness() %>
</script>

<script type="text/template" id="population-settings-view-template">
  <a class="btn" href="javascript:;" data-controls-modal="population-settings-modal" data-keyboard="true" data-backdrop="true">Settings</a>
  <div id="population-settings-modal" class="modal fade hide">
    <table>
      <tr id="size">
        <th scope="row">Starting Population</th>
        <td<% if ( settings.isDefault('size') ) { %> class="default"<% } %>><%= settings.escape('size') %></td>
      </tr>
      <tr id="fitness">
        <th scope="row">Fitness Function</th>
        <td<% if ( settings.isDefault('fitness') ) { %> class="default"<% } %>><%= settings.escape('fitness') %></td>
      </tr>
      <tr id="chromosomeLength">
        <th scope="row">Chromosome Length</th>
        <td<% if ( settings.isDefault('chromosomeLength') ) { %> class="default"<% } %>><%= settings.escape('chromosomeLength') %> bases</td>
      </tr>
      <tr id="bases">
        <th scope="row">Chromosome Bases</th>
        <td<% if ( settings.isDefault('bases') ) { %> class="default"<% } %>><%= settings.escape('bases') %></td>
      </tr>
      <tr id="selectionMechanism">
        <th scope="row">Selection Mechanism</th>
        <td<% if ( settings.isDefault('selectionMechanism') ) { %> class="default"<% } %>><%= settings.escape('selectionMechanism') %></td>
      </tr>
      <% if ( settings.has('tournamentSize') ) { %>
      <tr id="tournamentSize">
        <th scope="row">Tournament Size</th>
        <td><%= settings.escape('tournamentSize') %></td>
      </tr>
      <% } %>
      <tr id="elitism">
        <th scope="row">Elitism</th>
        <td<% if ( settings.isDefault('elitism') ) { %> class="default"<% } %>><% if ( settings.get('elitism') > 0 ) { %><%= settings.escape('elitism') %>%<% } else {%>Off<% } %></td>
      </tr>
      <tr id="crossoverProbability">
        <th scope="row">Crossover Probability</th>
        <td<% if ( settings.isDefault('crossoverProbability') ) { %> class="default"<% } %>><%= settings.escape('crossoverProbability') %>%</td>
      </tr>
      <tr id="mutationProbability">
        <th scope="row">Mutation Probability</th>
        <td<% if ( settings.isDefault('mutationProbability') ) { %> class="default"<% } %>><%= settings.escape('mutationProbability') %>%</td>
      </tr>
    </table>
    <form>
      <div class="actions">
        <input type="button" class="btn save primary" value="Save">
        <input type="button" class="btn reset" value="Reset population with these settings">
      </div>
    </form>
  </div>
</script>
