<script type="text/template" id="population-view-template">
  <h1>Current Generation</h1>
  <ol class="organisms well"></ol>
  <div class="alert alert-block alert-info">
    Click an organism icon above to view its details.
  </div>
  <form>
    <fieldset>
      <div class="form-actions">
        <input type="button" class="step btn btn-primary" value="Step">
        <input type="button" class="run btn" value="Run for ...">
        <input type="number" class="steps span2" placeholder="10" value="10"><span>steps</span>
        <input type="button" class="stop btn btn-danger" value="Stop">
      </div>
    </fieldset>
  </form>
</script>

<script type="text/template" id="population-create-template">
  <h1>Create New Population</h1>
  <form class="form-horizontal">
    <fieldset>
    <div class="control-group">
      <label for="population-size" class="control-label">Starting Population</label>
      <div class="controls">
        <input type="number" id="population-size" name="population-size" class="size span2" placeholder="20" value="20" min="2" max="250" step="1.0">
        <span class="help-block">How many organisms should be seeded into the first generation?</span>
      </div>
    </div>

    <div class="control-group">
      <label for="fitness-function" class="control-label">Fitness Function</label>
      <div class="controls">
        <textarea id="fitness-function" name="fitness-function" rows="8" class="xxlarge"></textarea>
        <span class="help-block">This should be a Javascript code block that returns the calculated fitness for a given organism. [<a href="#help/fitness">more</a>]</span>
      </div>
    </div>

    <fieldset>
      <legend>Chromosome</legend>

      <div class="control-group">
        <label for="chromosome-length" class="control-label">Length</label>
        <div class="controls">
          <input type="number" id="chromosome-length" name="chromosome-length" class="span2" placeholder="10" value="10" min="1" max="1000" step="1">
          <span class="help-block">How many bases should each organism's chromosome have?</span>
        </div>
      </div>

      <div class="control-group">
        <label id="chromosome-bases" class="control-label">Bases</label>
        <div class="controls">
          <label class="radio">
            <input type="radio" name="chromosome-bases" value="binary" checked="checked">
            Binary - the chromosome will be a bitstring
          </label>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Selection</legend>
      <div class="control-group">
        <label for="selection-mechanism" class="control-label">Mechanism</label>
        <div class="controls">
          <select name="selection-mechanism" id="selection-mechanism" class="span3">
            <option value="fp">Fitness Proportionate</option>
            <option value="tournament">Tournament</value>
          </select>
          <span class="help-block">What mechanism should be used to select organisms to reproduce?</span>
        </div>
      </div>
      <div class="control-group optional">
        <label for="tournament-size" class="control-label">Tournament Size</label>
        <div class="controls">
          <input type="number" name="tournament-size" id="tournament-size" min="1" step="1" placeholder="10" value="10">
          <span class="help-block">What number of organisms should be randomly chosen for each tournament?</span>
        </div>
      </div>
      <div class="control-group">
        <label for="selection-elitism" class="control-label">Elitism</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on checkbox">
              <input type="checkbox" id="selection-elitism-enabled" name="selection-elitism-enabled">
            </span>
            <input type="number" class="mini" name="selection-elitism" id="selection-elitism" min="0" max="100" step="0.1" placeholder="10.0" value="10.0" disabled>%
          </div>
          <span class="help-block">What percentage of the most fit organisms in each generation should be directly cloned into the next generation?</span>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Crossover</legend>
      <div class="control-group">
        <label for="crossover-probability" class="control-label">Probability</label>
        <div class="controls">
          <input type="number" name="crossover-probabilty" id="crossover-probabilty" min="0" max="100" step="0.1" placeholder="70.0" value="70.0">%
          <span class="help-block">For each pair of organisms selected to reproduce, what is the probability that a crossover will occur?</span>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Mutation</legend>
      <div class="control-group">
        <label for="mutation-probability" class="control-label">Probability</label>
        <div class="controls">
          <input type="number" name="mutation-probability" id="mutation-probability" min="0" max="100" step="0.01" placeholder="0.1" value="0.1">%
          <span class="help-block">For each base in a new organism's chromosome, what is the probability that a mutation to a different base will occur?</span>
        </div>
      </div>
      <div class="form-actions">
        <input type="button" class="create btn btn-primary" value="Create">
      </div>
    </fieldset>

    <fieldset>
      <div class="control-group">
        <label for="load-settings" class="control-label">Load Saved Settings...</label>
        <div class="controls">
          <select id="load-settings">
            <option value=""></option>
            <% existingSettings.each(function (model) { %>
            <option value="<%= model.id %>"><%= model.get('name') %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="form-actions">
        <input type="button" class="btn btn-small btn-primary load" value="Load">
      </div>
    </fieldset>
  </form>
</script>

<script type="text/template" id="organism-template">
  <h2>Organism <%= model.cid %></h2>
  <div class="vis"></div>
  Fitness: <%= model.fitness() %>
</script>

<script type="text/template" id="help-view-template">
  <div class="accordion" id="help-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a href="#fitness" data-parent="#help-accordion" data-toggle="collapse" class="accordion-toggle">Fitness</a>
      </div>
      <div id="fitness" class="accordion-body collapse">
        <div class="accordion-inner">
          TODO Detailed fitness explanations, etc.
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="population-settings-view-template">
  <a class="btn" href="#population-settings-modal" data-toggle="modal">Settings</a>
  <div id="population-settings-modal" class="modal fade hide" data-keyboard="true" data-backdrop="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Population Settings</h3>
    </div>
    <div class="modal-body">
      <table class="table table-striped table-condensed">
        <tr id="size">
          <th scope="row">Starting Population</th>
          <td<% if ( settings.isDefault('size') ) { %> class="default"<% } %>><%= settings.escape('size') %></td>
        </tr>
        <tr id="fitness">
          <th scope="row">Fitness Function</th>
          <td<% if ( settings.isDefault('fitness') ) { %> class="default"<% } %>><%= settings.escape('fitness') %></td>
        </tr>
        <tr id="chromosomeLength">
          <th scope="row">Chromosome Length</th>
          <td<% if ( settings.isDefault('chromosomeLength') ) { %> class="default"<% } %>><%= settings.escape('chromosomeLength') %> bases</td>
        </tr>
        <tr id="bases">
          <th scope="row">Chromosome Bases</th>
          <td<% if ( settings.isDefault('bases') ) { %> class="default"<% } %>><%= settings.escape('bases') %></td>
        </tr>
        <tr id="selectionMechanism">
          <th scope="row">Selection Mechanism</th>
          <td<% if ( settings.isDefault('selectionMechanism') ) { %> class="default"<% } %>><%= settings.escape('selectionMechanism') %></td>
        </tr>
        <% if ( settings.has('tournamentSize') ) { %>
        <tr id="tournamentSize">
          <th scope="row">Tournament Size</th>
          <td><%= settings.escape('tournamentSize') %></td>
        </tr>
        <% } %>
        <tr id="elitism">
          <th scope="row">Elitism</th>
          <td<% if ( settings.isDefault('elitism') ) { %> class="default"<% } %>><% if ( settings.get('elitism') > 0 ) { %><%= settings.escape('elitism') %>%<% } else {%>Off<% } %></td>
        </tr>
        <tr id="crossoverProbability">
          <th scope="row">Crossover Probability</th>
          <td<% if ( settings.isDefault('crossoverProbability') ) { %> class="default"<% } %>><%= settings.escape('crossoverProbability') %>%</td>
        </tr>
        <tr id="mutationProbability">
          <th scope="row">Mutation Probability</th>
          <td<% if ( settings.isDefault('mutationProbability') ) { %> class="default"<% } %>><%= settings.escape('mutationProbability') %>%</td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <input type="button" class="btn save btn-primary" value="Save">
      <input type="button" class="btn reset" value="Reset population with these settings">
    </div>
  </div>
</script>
